django==4.2.30
gunicorn==23.0.0
whitenoise==6.7.0
asgiref==3.8.1
sqlparse==0.5.5
altair==5.4.1
matplotlib==3.7.2
pandas==2.0.3
numpy==1.24.4
six==1.16.0
kiwisolver==1.4.5
pillow==10.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
tzdata==2024.1
scipy==1.10.1
streamlit==1.40.1
click==7.0
jinja2==3.1.6
