<!DOCTYPE html>
<html>
<head>
    <title>LMS Universitaire</title>
</head>
<body>

    <nav>
        <a href="/plateforme/">Accueil</a> |
        <a href="/courses/gestion/">Cours</a> |
        <a href="/quiz/">Quiz</a> |
        <a href="/logout/" style="color:red;">Déconnexion</a>
    </nav>

    <hr>

    <h1>LMS Universitaire</h1>

    <h2>Bienvenue sur la Plateforme d'apprentissage</h2>

    <p>
        Cette plateforme permet aux étudiants d'accéder aux cours,aux quiz et à leurs notes en ligne.
    </p>

    <h3>Fonctionnalités</h3>

    <ul>
        <li><a href="/courses/gestion/">Gestion des cours</a></li>
        <li><a href="/students/gestion/">Gestion des étudiants</a></li>
        <li><a href="/quiz/">Quiz en ligne</a></li>
        <li><a href="/assignments/espace/">Téléchargement et rendu de devoirs</a></li>
        <li><a href="/grades/mes-notes/">suivi des notes</a></li>
    </ul>
      
</body>
</html>
